@media screen and (max-width: 1199px) {
    html {
        background: #f9f9f9;
    }
}

::placeholder {
    font-family: Poppins;
    color: rgb(154, 154, 154);
    font-size: 16px;
}

.third-level-menu {
    position: absolute;
    top: -40px;
    right: -250px;
    width: 250px;
    background: #fff;
    list-style: none;
    box-shadow: 0 5px 9px 1px rgba(174, 175, 180, 0.25);
    padding: 22px 0 20px 0;
    margin: 0;
    display: none;
}

.third-level-menu > li {
    padding: 0 0 0 29px;
    height: 30px;
}

.third-level-menu > li:hover {
    background-color: #ebebeb;
}

.listFavorite::-webkit-scrollbar{
    display: none;
}

.second-level-menu {
    z-index: 99;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    width: 250px;
    box-shadow: 0 5px 9px 1px rgba(174, 175, 180, 0.25);
    list-style: none;
    padding: 22px 0 20px 0;
    margin: 0;
    display: none;
}

.second-level-menu > li {
    padding: 0 0 0 29px;
    position: relative;
    height: 30px;

}

.second-level-menu > li:hover {
    background-color: #ebebeb;
}

.top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li {
    position: relative;
    height: 50px;
    width: 150px;
}

.top-level-menu li img:first-child {
    padding-right: 10px;
}

.top-level-menu li img:last-child {
    padding-left: 5px;
}

.top-level-menu li:hover > ul {
    /* On hover, display the next level's menu */
    display: inline;
}

/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    cursor: pointer;
    font-family: Lato;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #444444;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    line-height: 30px;
}

.top-level-menu a:hover {
    color: #000000;
}

.slick-dots li.slick-active button:before {
    color: #6ddba2 !important;
}

.slick-dots li {
    margin: 0;
}

.slick-slide {
    width: 228px !important;
    margin: 0 25px !important;
}

.active span {
    color: #a1ffd3 !important;
    font-weight: 700 !important;
}

.Navlink {
    color: #444444;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.loader {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #6ddba2;
    border-radius: 50%;
}
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: loading 1000ms ease-out forwards infinite;
    animation: loading 1000ms ease-out forwards infinite;
}

@-webkit-keyframes loading {
    0% {
        border: 0px solid white;
    }
    20% {
        border: 8px solid white;
        width: 0%;
        height: 0%;
    }
    100% {
        border: 8px solid white;
        width: 100%;
        height: 100%;
    }
}

@keyframes loading {
    0% {
        border: 0px solid white;
    }
    20% {
        border: 8px solid white;
        width: 0%;
        height: 0%;
    }
    100% {
        border: 8px solid white;
        width: 100%;
        height: 100%;
    }
}
